name: CI Simple

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest httpx

    - name: Run Tests
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)
        pytest tests/ -v

    
    - name: Build Docker Image
      run: |
        docker build -t image-optimizer-api .